.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 432px;
  background: white;
  border-radius: 15px;
  cursor: pointer;
  justify-content: space-between;
  transition: all 0.15s ease-out;
}

.article-card:hover {
  transform: translateY(-15px);
  box-shadow: 0px 32px 50px 0px #E1E9FFCC;
}

.article-card:hover .article-card__title {
  color: #779CFF;
}

.article-card__header {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 18px;
  justify-content: space-between;
}

.article-card__preview-image {
  height: 256px;
  object-fit: cover;
}

.article-card__content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.article-card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 32px;
  transition: 0.15s all;
}

.article-card__category-tag {
  width: fit-content;
  align-self: end;
}

@media screen and (max-width: 480px) {
  .article-card__header {
    padding: 8px;
  }

  .article-card__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }

  .article-card__author-tag figcaption {
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .article-card__header {
    flex-direction: row !important;
  }

  .article-card__date {
    font-size: 10px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F2F2F !important;
  }

  .article-card__category-tag {
    align-self: start;
  }
}

@media screen and (max-width: 769px) {
  .article-card__header {
    flex-direction: column;
    row-gap: 5px;
  }

  .article-card__date {
    color: rgba(0, 0, 0, 0.551);
  }

  .article-card {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1280px) {
}
