.quill {
  border: solid 1px #444;
  border-radius: 20px;
  background: white;
}

.ql-container {
  background: none;
  border: none !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2F2F2F;
  letter-spacing: 0em;
  transition: color 0.15s;
}

.ql-toolbar {
  border: none !important;
  border-bottom: solid 1px #444 !important;
}