.text-field {
  cursor: pointer;
  padding: 5px;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  font-size: 16px;
  outline: none;
}

.form__text-field {
  width: 100%;
}

.form__text-field-wrapper {
  min-width: 100%;
}