.main-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 1440px;
  padding: 85px 3vw 0 3vw;
  margin-bottom: 50px;
  width: 100%;
}
