.article-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 25px 3vw 0 3vw;
  background-color: white;
  padding-bottom: 88px;
  border-radius: 13px;
  row-gap: 88px;
}

.article-info__blured-background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  border-radius: 13px 13px 0 0;
}

.article-info {
  padding: 64px;
  padding-bottom: 0;
  display: grid;
  grid-template:
    "image title-with-additional-info"
    "image title-with-additional-info"
    "image share-container";
  column-gap: 32px;
  row-gap: 16px;
  grid-auto-columns: minmax(0, 1fr);
}

.article-container__article-info {
  position: relative;
}

.article-info__image,
.article-info__title-with-additional-info,
.article-info__share-container {
  z-index: 1;
}

.article-info__title-with-additional-info {
  grid-area: title-with-additional-info;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  align-self: center;
}

.article-info__additional-info {
  display: flex;
  flex-direction: row;
}

.article-info__additional-info div,
.article-info__additional-info figure {
  max-width: 33%;
}

.article-info__author-tag figcaption,
.article-info__date,
.article-info__views {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-info__image {
  grid-area: image;
  position: relative;
}

.article-info__image figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 32px;
}

.article-info__image img {
  width: 100%;
}

.article-info__category-tag {
  white-space: nowrap;
}

.article-info__title {
  font-size: 36px;
  line-height: 48px;
}

.article-info__additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 3vw;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.article-info__share-container {
  grid-area: share-container;
  align-self: end;
  justify-self: start;
}

.article-container__content {
  padding: 64px;
  padding-top: 0;
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 769px) {
}

@media screen and (max-width: 1024px) {
  .article-container {
    row-gap: 32px;
  }

  .main-page__article-container {
    margin: 0;
    border-radius: 0;
  }

  .article-info {
    grid-template: "title-with-additional-info" "image" "share-container";
    padding-bottom: 0 !important;
  }

  .article-info__blured-background-image {
    border-radius: 0;
  }

  .article-info__title-with-additional-info {
    flex-direction: column-reverse;
    row-gap: 24px;
  }

  .article-container__content,
  .article-info {
    padding: clamp(24px, 7%, 64px);
  }

  .article-container__content {
    padding-top: 0;
  }

  .article-info__blured-background-image {
    height: 70%;
  }
}

@media screen and (max-width: 1280px) {
}

/* text styles */
h1 {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

p, h1 {
  margin-bottom: 15px !important;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}