.entities-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 3vw 0 3vw;
  row-gap: clamp(15px, 5vw, 56px);
}

@media screen and (max-width: 480px) {
  .entities-category {
    row-gap: 8px
  }
}