.main-page__articles {
  margin: 25px 3vw 0 3vw;
}

.main-page__load-more-btn {
  margin-top: clamp(15px, 5vw, 56px);
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 769px) {
  .main-page__articles {
    gap: 3vw;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1280px) {
}
